.link {
  /*    background: limegreen; */
}
/* to style a button first we need to clear the properties, but we will keep the browsers default focus styling */
.button {
  /*
    font: inherit;
    outline: none;
    border: none;
    padding: 0;
    background: none;
    color: inherit;
*/
}
.root {
  /*   background: rebeccapurple; */
}
