body.dark {
	color: yellow;
	background: black;
}
.hidden {
	display: none;
	visibility: hidden;
}
.skip-to-content, .sr-only {
	position: absolute;
	left: -1000px;
}
.skip-to-content:focus {
	left: 0;
	background: lemonchiffon;
	color: blue;
	padding: 3px;
}
.inverse {
	color: white;
	background: black;
}
.dark .inverse {
	color: black;
	background: white;
}
tt.key {
	background: silver;
	border-top: 1px dashed black;
	border-left: 1px dashed black;
	border-bottom: 1px dashed gray;
	border-right: 1px dashed gray;
	padding: 3px;
}
tt.key.inverse {
	background: silver;
}

.download,.reference {
	margin: 3px;
	padding: 3px;
	border: 1px dashed gray;
}
