/*<style>*/
/* a11y/style.css */

/* a class on the body turns on dark background. */
body.dark {
	color: yellow;
	background: black;
}

/* hidden from sight and screen readers. */
.hidden {
	display: none;
	visibility: hidden;
}

/* hidden from sight but not screen readers. */
.sr-only, .skip-to-content {
	position: absolute;
	left: -1000px;
}

/* put space after screen reader only content to break up any text */
div.sr-only:after,
span.sr-only:after,
h1.sr-only:after,
h2.sr-only:after,
h3.sr-only:after,
h4.sr-only:after,
h5.sr-only:after,
h6.sr-only:after,
p.sr-only:after, {
	content: '.  ';
}

/* links for screen readers become visible when focussed. */
.skip-to-content:focus {
	left: 0;
	background: lemonchiffon;
	color: blue;
	padding: 3px;
}

/* an inverse color set on white and dark background. */
.inverse {
	color: white;
	background: black;
}
.dark .inverse {
	color: black;
	background: white;
}

/* when documenting keyboard keys to press make it look like a keyboard */
tt.key {
	background: silver;
	border-top: 1px dashed black;
	border-left: 1px dashed black;
	border-bottom: 1px dashed gray;
	border-right: 1px dashed gray;
	padding: 3px;
}
tt.key.inverse {
	background: silver;
}

/* links to external downloads or pages */
.download,.reference {
	margin: 3px;
	padding: 3px;
	border: 1px dashed gray;
}

/* extra space at bottom of page to allow a link jump to scroll the target header to the top of the page. */
.page-footer {
	padding-bottom: 52em;
}
/*</style>*/
