// testcase zygomorphic
padding-bottom: 13;
padding-left: 1px;
margin-top: 45px;
margin-right: 0; // OKEY
margin-left: 13rem; // OKEY
margin: 0 -5px 13rem;
margin-bottom: 0 13rem; // OKEY
__vendor__/x.css: padding-bottom: 13;
__scripts__/x.css: padding-bottom: 13;
__stories__/x.css: padding-bottom: 13;
__dev__/x.css: padding-bottom: 13;
/stories/x.css: padding-bottom: 13;
docs/x.css: padding-bottom: 13;
Visibility/ShowVisibility.css: padding-bottom: 13;

// testcase zygoma
opacity: 0.3;
.cls-name {opacity: 0.3;} // OKEY
opacity: 0.3; /* opacityOverlay */
__vendor__/x.css: opacity: 0.3; // OKEY
__scripts__/x.css: opacity: 0.3; // OKEY
__stories__/x.css: opacity: 0.3; // OKEY
__dev__/x.css: opacity: 0.3; // OKEY
/stories/x.css: opacity: 0.3; // OKEY
docs/x.css: opacity: 0.3; // OKEY
cypress/x.css: opacity: 0.3; // OKEY
